body {
  background-color: rgb(194 194 194);
}
.App {
  height: 80vh;
  background-color: rgb(194 194 194);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.main_tic {
  border-radius: 10px;
  width: 500px;
  border: 0;
  height: 420px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  box-shadow: 0px 0px 25px #540b0b;
}
.text_tic {
  text-align: center;
  width: 100%;
  color: #e7e7e7;
  font-family: cursive;
  background-color: rgb(124, 32, 32);
}
.winner_text{
  text-align: center;
  width: 100%;
  color: #e7e7e7;
  font-family: cursive;
  background-color: rgb(124, 32, 32);
  font-size: 50px;
}